<section id="testimonials" class="px-5 py-10">
  <div class="rounded-lg">
    <ul class="flex flex-col items-center gap-8 h-full">
      <li class="flex flex-col justify-center items-center max-w-[400px]">
        <figure class="h-[125px] w-[125px] overflow-hidden rounded-full">
          <img src="./assets/avatar_1.jpg" alt="avatar" />
        </figure>
        <div class="text-center pt-5">
          <h3 class="mb-4 font-semibold text-xl">Jonh Doe</h3>
          <div>
            <i class="fas fa-quote-left inline"></i>
            <p class="inline">
              Our stay at the serene <b>Myracle Resort</b> was nothing short of magical
            </p>
            <i class="fas fa-quote-right self-end"></i>
          </div>
        </div>
      </li>
      <li class="flex flex-col justify-center items-center max-w-[400px]">
        <figure class="h-[125px] w-[125px] overflow-hidden rounded-full">
          <img src="./assets/avatar_2.jpg" alt="avatar" />
        </figure>
        <div class="text-center pt-5">
          <h3 class="mb-4 font-semibold text-xl">Jonhy Doe</h3>
          <div>
            <i class="fas fa-quote-left inline"></i>
            <p class="inline">
              <b>Warvick Resort</b> exceeded all our expectations for a relaxing
              getaway
            </p>
            <i class="fas fa-quote-right self-end"></i>
          </div>
        </div>
      </li>
      <li class="flex flex-col justify-center items-center max-w-[400px]">
        <figure class="h-[125px] w-[125px] overflow-hidden rounded-full">
          <img src="./assets/avatar_3.jpg" alt="avatar" />
        </figure>
        <div class="text-center pt-5">
          <h3 class="mb-4 font-semibold text-xl">Ada Lovelace</h3>
          <div>
            <i class="fas fa-quote-left inline"></i>
            <p class="inline">
              Our recent stay at <b>Beachdown Resort</b> was simply perfect
            </p>
            <i class="fas fa-quote-right self-end"></i>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>

<style>
  
  section {
    margin: 0;
    min-width: 100%;
    background-color: rgb(132, 241, 204);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  section > div {
    width: 100%;
    max-width: 1080px;
    box-shadow: 0px 2px 41px -15px rgba(0, 0, 0, 0.75);
    background-color: white;
    padding: 2em;
  }

  .fas {
    font-size: 0.8em;
  }

  @media (width >= 760px) {
    ul {
      flex-direction: row;
    }
  }
</style>
