<section class="text-center px-5">
    <h2 class="text-center">Welcome to Traveline</h2>
    <p class="mb-5">
      At Traveline, we believe in curating unforgettable moments that transcend
      the ordinary. <br> Our passion for travel stems from the belief that everyone
      deserves a break, an opportunity to explore the world, and create memories
      that last a lifetime.
    </p>
    
    <article class="my-5">
      <h3 class="text-2xl my-5">Our Mission</h3>
      <p>
        At the heart of our mission is a commitment to providing you with seamless
        travel experiences. <br> Whether you're a seasoned globetrotter or a first-time
        explorer, Traveline is here to make your journey extraordinary.
      </p>
    </article>
</section>
